#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

body {
  font-family: "Inter";
}

button {
  border-radius: 8px;
  border: 0px solid transparent;
  padding: 0.6em 2.2em;
  margin: 1em;
  align-items: stretch;
  font-weight: 500;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
